---
layout: default
title: Home
---

<article>
  <a href="{{ site.github.url }}/primer/Welcome-to-ABG.html">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/ABG-team.jpeg)">
      <h2><span>Welcome To ABG!</span></h2>
    </div>
  </a>
</article>

<!-- Pagination links -->
<div class="pagination">
  <a class="pagination-button pagination-active next" href="{{ site.github.url }}/pages/primer.html">To The Primer</a>
  <a class="pagination-button pagination-active" href="{{ site.baseurl }}/pages/reviews.html">To The Reviews</a>
  
</div>
